*{
	margin:0;
	padding:0;
}
body{
	background-color:#eeecf4;
}
a{
	text-decoration:none;
}
a:active{
	color:red;
}
a:visited{
	color:black;
}
.kayit-giris{
	font-size:25px;
	color:orange;
}
.header{
	background-color:#2de6a8;
	display:flex;
	justify-content:space-between;
}
.kayit-giris{
	display:flex;
	justify-content:flex-end;
	align-items:center;
	padding-right:2%;
}
.kayit-giris .giris{
	margin-right:0.55em;
}
.logo{
	width:100px;
	height:100px;
	margin-left:3%;
}
.footer{
	padding-top:2em;
	margin-top:5em;
	background-color:#2de6a8;
	height:100px;
}
.p-footer{
	text-align:center;
	font-weight:bold;
	font-size:25px;
}
.container{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	height:50%;
	margin-top:5em;
}

.first-content{
	border: solid;
	width:50%;
}
.first-content p{
	display:flex;
	justify-content:center;
	padding-top:20%;
}
.second-content{
	border: solid;
	width:50%;
	align-items:center;
}
.second-content p{
	display:flex;
	justify-content:center;
	padding-top:20%;
}
